div#userName {
	color: green;
  display: inline-block;
	font-family:"Impact", fantasy;
	font-size: 30px;
}

div#bodyPart {
	color: green;
  display: inline-block;
	font-family:"Impact", fantasy;
	font-size: 30px;
}

div#adjective {
	color:green;
  display: inline-block;
	font-family:"Impact", fantasy;
	font-size: 30px;

}

div#animal {
	color:green;
  display: inline-block;
	font-family:"Impact", fantasy;
	font-size: 30px;

}

div#wholeinsult {
		background-color: pink;


}

div#rest {
	color:orange;
	font-weight:bold;
	font-size:30px;

}

div#title {
	color:green;


}

div#enterName {
	color:orange;


}

.button {

	/*Step 2: Basic Button Styles*/
	display: block;
	height: 30px;
	/*width: 90px;*/
	background: #34696f;
	border: 2px solid rgba(33, 68, 72, 0.59);

	/*Step 3: Text Styles*/
  display: inline-block;
	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;

	/*Step 4: Fancy CSS3 Styles*/
	background: -webkit-linear-gradient(top, #34696f, #2f5f63);
	background: -moz-linear-gradient(top, #34696f, #2f5f63);
	background: -o-linear-gradient(top, #34696f, #2f5f63);
	background: -ms-linear-gradient(top, #34696f, #2f5f63);
	background: linear-gradient(top, #34696f, #2f5f63);

	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: 0 8px 0 #1b383b;
	-moz-box-shadow: 0 8px 0 #1b383b;
	box-shadow: 0 8px 0 #1b383b;

	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

/*Step 3: Link Styles*/
a.button2 {
	text-decoration: bold;
}

/*Step 5: Hover Styles*/
a.button:hover {
	background: #3d7a80;
	background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
	background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
	background: -o-linear-gradient(top, #3d7a80, #2f5f63);
	background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
	background: linear-gradient(top, #3d7a80, #2f5f63);
}
